.audio-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 20px;
  width: 650px;
  height: 500px;
}

.btn {
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 1;
}

.audio-call-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .audio-call-menu__btn {
    margin-top: 20px;
  }

  .audio-call-menu__levels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .levels__btn {
      padding: 0.3rem;
      border-radius: 50%;
      cursor: pointer;
      background: transparent;
    }

    .active {
      background: darkkhaki;
    }
  }
}

.audio-call-play {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .audio-call__sound {
    width: 50px;
    height: 50px;
    background: url(../../assets/img/sound.png) no-repeat;
    background-size: 50px 50px;
  }

  .audio-call__answers {
    display: flex;
    justify-content: space-between;
    gap: 15px;

    .answer__btn {
      padding: 0.5rem;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  .wrong {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
  }

  .right {
    background: #28a745;
    border-color: #28a745;
    color: white;
  }

  .audio-call__controls {
    display: flex;
    gap: 20px;
  }

}


