<footer class="footer">
    <div class="footer__inner wrapper">
        <div class="footer__copyright">
            <a class="footer__github" href="https://github.com/JohnEVgit" target="_blank" title="John github"
            aria-label="John github">
                <svg class="footer__svg" width="24" height="24" aria-hidden="true">
                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                </svg>
                <span class="footer__name">John</span>
            </a>
            <a class="footer__github" href="https://github.com/Kiryl1337" target="_blank" title="Kiryl github"
            aria-label="Kiryl github">
                <svg class="footer__svg" width="24" height="24" aria-hidden="true">
                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                </svg>
                <span class="footer__name">Kiryl</span>
            </a>
            <a class="footer__github" href="https://github.com/tonywkx" target="_blank" title="tonywkx github"
            aria-label="tonywkx github">
                <svg class="footer__svg" width="24" height="24" aria-hidden="true">
                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                </svg>
                <span class="footer__name">tonywkx</span>
            </a>
        </div>

        <span class="footer__date">2022</span>

        <a class="footer__rsschool" href="https://rs.school/js/" target="_blank" title="rs_school_js">
            <img class="footer__rsschool-img" width="65" height="24" src="https://rs.school/images/rs_school_js.svg"
                alt="rs_school_js">
        </a>
    </div>
</footer>
