<main class="main">
    <div class="wrapper">
        <h1 class="main__title">RSLang - приложение для изучения иностранных слов</h1>
        <h1 class="main__title main__title--request">Ссылка на пул реквест:<br>
            <a class="main__title--link" href="https://github.com/JohnEVgit/rslang/pull/15">https://github.com/JohnEVgit/rslang/pull/15</a>
        </h1>

        <div class="main__advantages main-advantages">
            <div class="main-advantages__cont">
                <svg class="main-advantages__svg" width="124" height="124" aria-label="RSLang промо изображение">
                    <use href="../../assets/img/sprite.svg#svg-icon-learn"></use>
                </svg>
                <div class="main-advantages__info">
                    <h2 class="main-advantages__title">Возможности и преимущества:</h2>
                    <ul class="main-advantages__list">
                        <li class="main-advantages__item">Электронный учебник с базой слов для изучения</li>
                        <li class="main-advantages__item">Мини-игры для повторения изучаемых слов</li>
                        <li class="main-advantages__item">Страница статистики для отслеживания индивидуального прогресса</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main__team main-team">
            <h2 class="main-team__title">Наша команда</h2>
            <div class="main-team__cont">
                <div class="main-team__elem">
                    <div class="main-team__picture">
                        <svg class="main-team__img" width="90" height="90" aria-hidden="true">
                            <use href="../../assets/img/sprite.svg#svg-icon-user"></use>
                        </svg>
                    </div>
                    <div class="main-team__info">
                        <h3 class="main-team__name">Kirill Knyazev
                            <a class="main-team__github" href="https://github.com/Kiryl1337" target="_blank" title="Kiryl github"
                            aria-label="Kiryl github">
                                <svg class="main-team__svg" width="24" height="24" aria-hidden="true">
                                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                                </svg>
                            </a>
                        </h3>
                        <p class="main-team__description">Развёртываение бекенда. Создание мини-игр "Аудиовызов" и "Спринт"</p>
                    </div>
                </div>
                <div class="main-team__elem">
                    <div class="main-team__picture">
                        <svg class="main-team__img" width="90" height="90" aria-hidden="true">
                            <use href="../../assets/img/sprite.svg#svg-icon-user"></use>
                        </svg>
                    </div>
                    <div class="main-team__info">
                        <h3 class="main-team__name">Yauheni Paloika
                            <a class="main-team__github" href="https://github.com/JohnEVgit" target="_blank" title="John github"
                            aria-label="John github">
                                <svg class="main-team__svg" width="24" height="24" aria-hidden="true">
                                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                                </svg>
                            </a>
                        </h3>
                        <p class="main-team__description">Создание базовой структуры проекта. Вёрстка шапки, подвала, главной страницы приложения. Разработка раздела "Электронный учебник"</p>
                    </div>
                </div>
                <div class="main-team__elem">
                    <div class="main-team__picture">
                        <svg class="main-team__img" width="90" height="90" aria-hidden="true">
                            <use href="../../assets/img/sprite.svg#svg-icon-user"></use>
                        </svg>
                    </div>
                    <div class="main-team__info">
                        <h3 class="main-team__name">Anton Kolesnikov
                            <a class="main-team__github" href="https://github.com/tonywkx" target="_blank" title="tonywkx github"
                            aria-label="tonywkx github">
                                <svg class="main-team__svg" width="24" height="24" aria-hidden="true">
                                    <use href="../../assets/img/sprite.svg#svg-icon-github"></use>
                                </svg>
                            </a>
                        </h3>
                        <p class="main-team__description">Реализация авторизации и регистрации пользователя. Разработка страницы статистики</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
