.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);
  min-width: 320px;
  font-family: var(--font-main);

  &__header {
    min-width: 320px;
  }

  &__footer {
    position: sticky;
    top: 100vh;
    min-width: 320px;
  }
}

