.sprint {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 100%;
  max-width: 480px;
  min-width: 350px;
  height: 50vh;
  border: 1px solid black;
  box-shadow: 0px 4px 5px -1px rgb(0 0 0 / 25%), 0px 5px 8px 0px rgb(0 0 0 / 18%), 0px 2px 13px 0px rgb(0 0 0 / 14%);
}

.btn {
  background: transparent;
  padding: 5px 10px;
  cursor: pointer;
  opacity: 1;
}

.sprint-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .sprint__rules {
    font-weight: bold;

    .rules__item {
      margin: 10px;
    }
  }

  &__btn {
    margin-top: 20px;
  }

  &__levels {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .levels__btn {
      padding: 0.3rem;
      border-radius: 50%;
      cursor: pointer;
      background: transparent;
    }

    .active {
      background: darkkhaki;
    }
  }
}

.sprint-play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;


  &__score {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
  }

  &__seconds {
    position: absolute;
    display: flex;
    border: 2px solid red;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;

    .seconds {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      inset: 0;
      color: red;
      padding: 12px;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__words {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;

    .ru-word {
      font-weight: bold;
      font-size: 2.5rem;
    }

    .en-word {
      font-weight: bold;
      font-size: 2rem;
    }
  }

  &__icons {
    display: flex;
  }

  &__answers {
    display: flex;
    gap: 30px;

    .sprint__answer-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
    }

    .answer-wrong__btn {
      background-color: #dc3545;
      border-color: #dc3545;
      color: white;
    }

    .answer-right__btn {
      background: #28a745;
      border-color: #28a745;
      color: white;
    }

  }

  .sprint__exit-btn {
    margin-top: 20px;
  }
}
