<div class="shadow" (click)="authModalService.close()"></div>

<div class="container" id="container">
	<div class="form-container sign-in-container">
		<form class="left" action="#" action="#" [formGroup]="form" (ngSubmit)='submit()'>
			<h1>Sign in</h1>
			<span>or use your account</span>
			<input type="email" placeholder="Email" formControlName="email" />
            <span class="alert" *ngIf="email.errors?.['minlength'] && email.touched ">Too short email. Now {{ email.value.length }}</span>
			<input type="password" placeholder="Password" formControlName="password" />
            <span class="alert" *ngIf="password.errors?.['minlength'] && password.touched ">Too short password. Now {{ password.value.length }}</span>
			<button type="submit" [disabled]="form.invalid">Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<form action="#" class="overlay-panel overlay-right right" [formGroup]="signup" (ngSubmit)='submitS()'>
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
                <input type="text" placeholder="Name" formControlName="name"/>
                <span class="alert-signup" *ngIf="name.errors?.['minlength'] && name.touched ">Too short name. Now {{ name.value.length }}</span>
			    <input type="email" placeholder="Email" formControlName="email"/>
                <span class="alert-signup" *ngIf="email.errors?.['minlength'] && email.touched ">Too short email. Now {{ email.value.length }}</span>
			    <input type="password" placeholder="Password" formControlName="password"/>
                <span class="alert-signup" *ngIf="password.errors?.['minlength'] && password.touched ">Too short password. Now {{ password.value.length }}</span>
				<button type="submit" class="ghost" id="signUp" [disabled]="signup.invalid">Sign Up</button>
			</form>
		</div>
	</div>
</div>
