
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rslang-primary: mat.define-palette(mat.$indigo-palette);
$rslang-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rslang-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rslang-theme: mat.define-light-theme((
  color: (
    primary: $rslang-primary,
    accent: $rslang-accent,
    warn: $rslang-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rslang-theme);

@import './assets/css/normalize.css';
@import './assets/css/main.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

:root {
    --color-main: tomato;
    --color-main-hover: hsl(0, 70%, 64%);
    --color-secondary: #c554f0;
    --color-bg: #f3f3f3;
    --color-bg-light: #fff;
    --color-text: #252525;
    --color-text-accent: #8d8d8d;

    --color-border: #ddd;
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-shadow-dark: rgba(0, 0, 0, 0.3);
    --color-popup-bg: rgba(243, 243, 243, 0.5);

    --font-main: 'Open Sans', sans-serif;
}

html {
    height: 100%;
    min-height: 100%;
    font-size: 14px;
    line-height: 1.4;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--color-bg);
    color: var(--color-text);
    min-width: 320px;
    font-family: var(--font-main);
}

:focus {
    outline: none;
}

:focus-visible {
    box-shadow: 0 0 5px 1px var(--color-shadow-dark);
}

:disabled {
    opacity: 0.5;
    cursor: default;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.wrapper {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    font-family: var(--font-main);
}

.btn {
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 5px;

    &:disabled {
        cursor: default;
    }

    &--theme-primary {
        border: none;
        background: var(--color-main);
        color: var(--color-bg-light);
        padding: 5px 11px;
        transition: background-color 0.2s;

        &:not(:disabled):hover {
            background-color: var(--color-main-hover);
        }

        &.btn--is-active {
            background-color: var(--color-secondary);

            &:hover {
                background-color: var(--color-secondary);
            }
        }
    }

    &--theme-secondary {
        border: 1px solid var(--color-text);
        color: var(--color-text);
        background: var(--color-bg-light);
        padding: 4px 10px;
        transition: background-color 0.2s, border-color 0.2s, color 0.2s;

        &:not(:disabled):hover,
        &.btn--is-active {
            background-color: var(--color-main);
            border-color: var(--color-main);
            color: var(--color-bg-light);
        }
    }

    &--theme-link {
        border: none;
        background: none;
        padding: 0;
        color: var(--color-text);
        transition: color 0.2s;

        &:not(:disabled):hover {
            color: var(--color-main);
        }

        &.btn--is-active {
            color: var(--color-main);

            &:hover {
                color: var(--color-main);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        padding-left: 12px;
        padding-right: 12px;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
